<!DOCTYPE html>
<html>
 <head> 
  <title>辅导员测评 - 免面聊</title> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="https://cdn.bootcss.com/element-ui/2.0.5/theme-chalk/index.css" rel="stylesheet" /> 
  <script src="https://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  <style>
        .el-header, .el-footer {
        color: #333;
        text-align: center;
        line-height: 60px;
        }

        .el-footer p{
            line-height: 30px;
        }
        </style> 
 </head> 
 <body> 
  <div id="app"> 
    <el-row type="flex" justify="center">
        <el-col :xs="24" :sm="24" :md="24" :lg="10" :xl="10">
   <el-container> 
    <el-header>
     UESTC 辅导员测评
    </el-header> 
    <el-main> 
     <el-form ref="form" :rules="rules" :model="form" label-width="80px" v-loading="loading" element-loading-text="拼命生成中" element-loading-spinner="el-icon-loading"> 
      <el-form-item label="用户名" prop="username"> 
       <el-input v-model="form.username" placeholder="通常为学号或者录取通知书号" clearable=""></el-input> 
      </el-form-item> 
      <el-form-item label="密码" prop="password"> 
       <el-input type="password" v-model="form.password" placeholder="通常和你的门户密码相同" clearable=""></el-input> 
      </el-form-item> 
      <el-form-item> 
       <el-button type="primary" @click="submitForm">
        进入评价系统
       </el-button> 
       <el-button @click="resetForm">
        清空
       </el-button> 
      </el-form-item> 
     </el-form> 
    </el-main> 
    <el-footer> 
     <p>本网站仅作技术研究，请勿用于商业用途。</p> 
     <p>
        By Xichao Geng 🐵 
    </p>
    <p>
        <iframe src="https://ghbtns.com/github-btn.html?user=gengxichao&amp;type=follow&amp;count=false" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <wb:follow-button uid="1739492152" type="red_1" width="67" height="24" style="display:inline-block;"></wb:follow-button>
    </p> 
     <p>Github repo</p>
     <p>
     <iframe src="https://ghbtns.com/github-btn.html?user=gengxichao&amp;repo=mianliao_counselor&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="72px" height="20px"></iframe>
    </p> 
    </el-footer> 
   </el-container> 
   </el-col>
   </el-row>
  </div>  
  <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script> 
  <script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script> 
  <script src="https://cdn.bootcss.com/element-ui/2.0.5/index.js"></script> 
  <script>
    var Main = new Vue({
    el: "#app",
    data: function() {
    return {
    form: {
    username: '',
    password: ''
    },
    rules:{
    username:[{required: true, message: "请填写用户名", trigger: 'blur'}],
    password:[{required:true, message: "请填写密码", trigger: 'blur'}]
    },
    loading: false,
    alertInfo: "",
    showAlert: false
    }
    },
    methods: {
    submitForm() {
    this.$refs['form'].validate((valid) => {
    if (valid) {
    this.loading = true

    this.$http.post("/", this.form).then((resp)=>{
    user = resp.body
    console.log(user)
    if(user.code == 1)
    {
    let uid = user.response.uid
    let token = user.response.token
    url = `http://dev.tjut.cc:92/?uid=${uid}&token=${token}&source=ml`
    console.log(url)
    this.loading = false
    this.$message({
    dangerouslyUseHTMLString: true,
    message: `成功生成链接，即将自动跳转，<a href="${url}">可以点击这里手动跳转</a>`,
    type: 'success',
    duration: 0
    });
    setTimeout(`location.href='${url}'`,3000)
    }else{
    this.$notify.error({
    title: `无法登陆，错误代码${user.code}`,
    message: '一般情况下为用户名或者密码错误～',
    duration: 0
    });
    this.loading = false
    }
    })
    } else {
    return false;
    }
    });
    },
    resetForm() {
    this.$refs['form'].resetFields();
    },
    closeAlert() {
    this.$refs['form'].resetFields();
    }
    }
    })

    </script> 
 </body>
</html>
